## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [4]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [8]:
x.replace(" ", "").capitalize()

'Diclorodifeniltricloroetanodichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [11]:
A, B, C, D = 'word', 15, 3.14, 'list'
print(A, B, C, D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [3]:
w,h = input("weight and height:").split()
BMI = float(w) / float(h)**2
print(f"BMI: {BMI}")

weight and height: 68.4 1.71

BMI: 23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [11]:
if BMI < 18.5:
    print("underweight")
elif BMI < 24.9:
    print("normal weight")
elif BMI < 29.9:
    print("pre-obesity")
elif BMI < 34.9:
    print("obesity class I")
elif BMI < 39.9:
    print("obesity class II")
elif BMI > 39.9:
    print("obesity class III")

normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [4]:
x = int(input("input integer: "))
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial(x-1)
print(factorial(x))

input integer:  6

720

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [5]:
number = 0
sum = 0
while number > -1:
    sum += number
    number = int(input("integer:"))
print(f"sum: {sum}")

integer: 7
integer: -1

sum: 7

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [19]:
name, hours_worked, salary_per_hour = input("name, hours worked, salary per hour").split(",")
income = float(hours_worked)*float(salary_per_hour)
print(name, ("%.2f" % income))

name, hours worked, salary per hour alex, 17, 24.4

alex 414.80

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate items a, b, c, d and e:

In [35]:
A, B, C = [float(x) for x in input("A, B, C:").split(",")]

A, B, C: 9, 22, 40

    a) the area of the triangle rectangle with A as the base and C as the height.

In [36]:
print("area", A*C/2)

area 180.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [37]:
print("area", 3.14159*C**2)

area 5026.544

    c) the area of the trapezoid that has A and B for bases and C for height.

In [38]:
print("area", (A+B)*C/2)

area 620.0

    d) the area of the square that has side B.

In [39]:
print("area", B**2)

area 484.0

    e) the area of the rectangle that has sides A and B.

In [40]:
print("area", A*B)

area 198.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [160]:
a, b, c = [float(x) for x in input("a, b, c:"). split(",")]

d = (b**2) - (4*a*c)

if d < 0:
    print("There are no real roots.")
    
elif d == 0:
    x = -b/(2*a)
    print(f"There is one root: {x}")
    
else:
    x1 = (-b + d**0.5) / (2*a)
    x2 = (-b - d**0.5) / (2*a)
print(f"There are two roots: {x1}, {x2}")


#### i don't know why this doesn't work properly, it always shows 6 / 4

a, b, c: 4,5,6

There are no real roots.
There are two roots: 6.0, 4.0

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [10]:
x1, y1 = [float(x) for x in input("x1, y1"). split(",")]
x2, y2 = [float(x) for x in input("x2, y2"). split(",")]
d = ((x1-x2)**2+(y1-y2)**2)**.5
print(f"distance: {d}")

x1, y1 3,4
x2, y2 5,6

distance: 2.8284271247461903

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [14]:
x, y = [float(x) for x in input("x, y:"). split(",")]

if x == 0 and y == 0:
    print('origin')
elif x == 0:
    print('x axis')
elif y == 0:
    print('y axis')
elif x > 0 and y > 0:
    print('q1')
elif x < 0 and y > 0:
    print('q2')
elif x < 0 and y < 0:
    print('q3')
elif x > 0 and y < 0:
    print('q3')

x, y: 7, 8

q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [9]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [28]:
country_code = int(input("country code:"))
code_dict= {43: 'Austria',
            32: 'Belgium',
            359: 'Bulgaria',
            385: 'Croatia',
            357: 'Cyprus',
            420: 'Czech Republic',
            45: 'Denmark',
            372: 'Estonia',
            358: 'Finland',
            33: 'France',
            49: 'Germany'
           }
if country_code in code_dict. keys():
    print(code_dict[country_code])

country code: 49

Germany

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [43]:
list = [float(x) for x in input("a, b, c, d, e, f:"). split(",")]

pos_count = 0
for num in list:
    if num >= 0:
        pos_count +=1
        print(f"number of positive values:", pos_count)

def average_list(list):
    avg = sum(list) / len(list)
    return avg


print(f"The average of the list is, {average_list}")

### i am not sure why this doesn't work either

a, b, c, d, e, f: 1,2,3,4,-5,-6

number of positive values: 1
number of positive values: 2
number of positive values: 3
number of positive values: 4
The average of the list is, <function average_list at 0x000001FD9EFEECA0>

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [62]:
N = int(input("integer N:"))
for i in range(1, N+1):
    if i%2 == 0:
        print(i**2)

integer N: 12

4
16
36
64
100
144

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [80]:
N = int(input("integer N:"))

class1 = 'even' if N%2 == 0 else 'odd'

class2 = 'positive' if N > 0 else 'negative'

if N == 0:
    print('null')
    
else:
    print(class1, class2)

integer N: 3

odd positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [92]:
list = [int(x) for x in input("integers a, b, c, d, e, f: ").split(",")]

def bubblesort(list):
    n = len(list)
    while 1:
        changed = False
        for i in range(n-1):
            if list[i] > list[i+1]:
                list[i],list[i+1] = list[i+1],list[i]
                changed = True
        n -= 1
        if not (changed):
            print(list)
            return
            
bubblesort(list)

integers a, b, c, d, e, f:  4,10,11, 400, 3, 2, 5

[2, 3, 4, 5, 10, 11, 400]